<div class="card my-4">
    <div class="card-header bg-primary row">
        <h5 class="text-light fw-bold col-9">DANH SÁCH SẢN PHẨM</h5>
        <div class="col-3 text-end">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Xem số sản phẩm
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><button class="dropdown-item" ng-click="changeSizeProduct(5)">5 sản phẩm</button></li>
                    <li><button class="dropdown-item" ng-click="changeSizeProduct(10)">10 sản phẩm</button></li>
                    <li><button class="dropdown-item" ng-click="changeSizeProduct(20)">20 sản phẩm</button></li>
                    <li><button class="dropdown-item" ng-click="changeSizeProduct(30)">30 sản phẩm</button></li>
                    <li><button class="dropdown-item" ng-click="changeSizeProduct(50)">50 sản phẩm</button></li>
                    <li><button class="dropdown-item" ng-click="changeSizeProduct(-1)">Tất cả sản phẩm</button></li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light bg-light my-3">
        <div class="container">
            <input ng-model="searchName" type="text" class="form-control" id="keyword" placeholder="Bạn muốn tìm kiếm...">
        </div>
    </nav>
    <div class="card-body">
        <table class="table table-condensed" id="myTable">
            <thead class="bg-success">
                <tr>
                    <th ng-click="orderByField='id'; reverseSort = !reverseSort" style="cursor: pointer;">#</th>
                    <th>Hình ảnh</th>
                    <th ng-click="orderByField='name'; reverseSort = !reverseSort" style="cursor: pointer;">Tên sản phảm</th>
                    <th ng-click="orderByField='price'; reverseSort = !reverseSort" style="cursor: pointer;">Giá</th>
                    <th ng-click="orderByField='inventory'; reverseSort = !reverseSort" style="cursor: pointer;">Số lượng</th>
                    <th ng-click="orderByField='category.name'; reverseSort = !reverseSort" style="cursor: pointer;">Danh mục</th>
                    <th ng-click="orderByField='category.parentCategory.name'; reverseSort = !reverseSort" style="cursor: pointer;">Loại Danh mục</th>
                    <th ng-click="orderByField='brand.name'; reverseSort = !reverseSort" style="cursor: pointer;">Thương hiệu</th>
                    <!-- <th>Hoạt động</th> -->
                    <th></th>
                </tr>
            </thead>
            <tbody dir-paginate="item in items | orderBy:orderByField:reverseSort | filter:searchName | itemsPerPage:pageSize">
                <td style="width: 5%;">#{{item.id}}</td>
                <td style="width: 10%;">
                    <img ng-if="item.mainImage " ng-src="/assets/images/products/{{item.mainImage}}"
                        style="width: 100px; height: 100px;">
                    <img ng-if="!item.mainImage " ng-src="/assets/images/default.png"
                        style="width: 100px; height: 100px">
                </td>
                <td style="width: 25%;">{{item.name}}</td>
                <td style="width: 10%;">{{item.price | number:0}}&#8363;</td>
                <td style="width: 10%;">{{item.inventory}}</td>
                <td style="width: 7%;">{{item.category.name}}</td>
                <td style="width: 7%;">{{item.category.parentCategory.name}}</td>
                <td style="width: 13%;">{{item.brand.name}}</td>
                <!-- <td class="text-center">{{item.inStock == true ? '&#10003;':'Hết'}}</td> -->
                <td style="width: 13%;">
                    <div class="btn-group-xs">
                        <button ng-click="edit(item)" class="btn"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button ng-click="delete(item)" class="btn"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </td>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        <dir-pagination-controls boundary-links="true" direction-links="true"></dir-pagination-controls>
    </div>
</div>