<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <div class="main-login">
            <section class="sign-in">
                <div class="container">
                    <div class="changepass-content">
                        <div class="signin-form">
                            <h2 class="form-title">Quên mật khẩu</h2>
                            <form action="" method="POST">
                                <div class="form-group">
                                    <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <div class="form-div" name="username" id="username">Lấy email từ bên forgot </div>
                                </div>
                                <div class="form-group">
                                    <label for="verify"><i class="zmdi zmdi-code"></i></label>
                                    <input type="text" name="verify" placeholder="Nhập mã xác nhận" required />
                                </div>
                                <div class="form-group form-button">
                                    <button class="form-submit">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>

</html>