<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <div class="main-login">
            <section class="sign-in">
                <div class="container">
                    <div class="changepass-content">
                        <div class="signin-form ">
                            <h2 class="form-title">Quên mật khẩu</h2>
                            
                            <form  ng-if="!checkcode_forget">
                                <div class="form-group">
                                    <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="email" name="email" ng-model="email" placeholder="Email" required />
                                </div>
                                <div class="form-group form-button">
                                    <button class="form-submit" ng-click="password.forget(email)"  >Gửi <span  ng-if="checkemail_forget">lại</span> mã xác nhận vào email</button>
                                    <!--Bấm xác nhận gửi mã về email rồi trả về trang forgot-password-bắt nhập mã xác nhân-->
                                </div>
                                
                            </form>
                            <div class="row  "  ng-if="forget_error"> 
	                                   <p class="text-danger text-center" style="color:red"><b><br />{{forget_error}}</b></p>
	                             </div>
                            <form  ng-if="checkemail_forget">
                                <div class="form-group">
                                    <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <div class="form-div" name="username" id="username" ng-value="account_forget.email">{{account_forget.email}}</div>
                                </div>
                                <div class="form-group">
                                    <label for="verify"><i class="zmdi zmdi-code"></i></label>
                                    <input type="text" name="verify" ng-model="code" placeholder="Nhập mã xác nhận" required />
                                </div>
                                <div class="form-group form-button">
                                    <button class="form-submit" ng-click="password.confirm(code)">Xác nhận</button>
                                </div>
                            </form>
                            
                            <form  ng-if="checkcode_forget" name="change">
                                <div class="form-group">
                                    <label for="your_name"><i
                                            class="zmdi zmdi-account material-icons-name"></i></label>
                                    <div class="form-div" name="username" id="username">{{account_forget.email}}</div>
                                </div>
                               
                                <div class="form-group">
                                    <label for="your_name"><i
                                            class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="password" name="password" placeholder="Mật khẩu mới"
                                        ng-model="changepassword.pw" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/"/>
                                 </div>
                                 <div class="form-group">
	                                 <i class="fa fa-check text-success" ng-show="change.password.$dirty && change.password.$valid"></i>
			                         <p class="text-danger" style="color:red" ng-show="change.password.$invalid">Nhập đúng định dạng
										mật khẩu (chữ cái, ký tự và số)</p>
                                </div>
                                <div class="form-group">
                                    <label for="your_name"><i
                                            class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="password" 
                                        placeholder="Xác nhận mật khẩu mới" name="confirmpassword" ng-model="changepassword.cfpw" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" />
                                 </div>
                                  <div class="form-group">
	                                  <i class="fa fa-check text-success" ng-show="change.confirmpassword.$dirty && change.confirmpassword.$valid"></i>
		                              <p class="text-danger" style="color:red" ng-show="change.confirmpassword.$invalid">Nhập đúng định dạng
										mật khẩu (chữ cái, ký tự và số)</p>
	                               </div>
                                <div class="form-group form-button">
                                    <button class="btn form-submit" value="change" ng-click="password.changepassword(changepassword)" ng-disabled="change.$pristine || change.$invalid">Đổi mật khẩu </button>
                               </div>
                            </form>
                            <br />
                            
                          </div>
                    </div>
                   
                </div>
            </section>
        </div>
    </main>
</body>

</html>